.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800 !important;
    }

#footer1 {/*
    background: #762b00 !important;*/
    background-color: black !important;
}

#footer2 {
    background: #531f00 !important;
}
#Button4 {
}
